.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    transition: 300ms ease-out;
    
    &:hover {
        transition: 200ms ease-out;
        color: darken($color: $white, $amount: 10);
    }
}

.btn-primary {
    background-color: $primary;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 300ms ease-in;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 5);
        cursor: not-allowed;
    }
    &:hover {
        background-color: lighten($color: $primary, $amount: 4);
        color: darken($color: $dark-gray, $amount: 10);
        transition: 300ms ease-out;
    }
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: ease-out 200ms;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    &:hover {
        transition: ease-in 300ms;
        box-shadow: -1px 4px 6px $dark-gray;
        position: relative;
        transform: translateY(-5px);
    }
    &:active {
        background: $button-active-blue;
    }
}