.nothing__main-content {

    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;    
    background-color: lighten($color: $dark-gray, $amount: 2);

    .nothing__container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 8px;
        background-color: lighten($color: $dark-gray, $amount: 10);
        transition: 150ms ease-out;
        margin: auto;
        // p {
        //     text-align: center;
        //     font-size: 1.4rem;
        //     color: $light-gray;
        //     margin-bottom: 8px;
        // }

        svg {
            width: 32px;
            height: 32px;
            color: $light-gray;
        }

        &:hover {
            transition: 200ms ease-in;
            background-color: darken($color: $light-gray, $amount: 45);
        }
    }



}