@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;

}

p, h1, h2, h3, h4 { 
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.2rem;
}

main { 
    width: 100%;
}
* {
    font-family: 'Source Sans Pro', sans-serif;
}