
$primary: #10B981;
$white: #ffffff;
$danger:    #EF4444;
$dark-blue: #2563EB;
$light-blue: #60A5FA;
$light-gray: #9CA3AF;
$dark-gray: #4B5563;

//Google Variables
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;